body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 0;
}

.author {
    font-size: 1.2em;
    font-style: italic;
    color: #555;
    margin-bottom: 4px;
}

.divider {
    margin: 24px 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #aaa, #ddd);
}

.dashboard {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.maps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.source {
    font-size: 12.5px;
    color: #888;
}

.source a {
    color: #888;
}

.axis-label {
    font-size: 13px;
    fill: #888;   
}

.legend-title {
  font-size: .7rem;
  font-weight: 600;
}
.legend-label {
  font-size: .7rem;
}